body {
    background-color: black;
    font-family: sans-serif;
  }
 
  h1 {
    color: white;
    text-align: center;
    font-size: 90px;
 
  }
  p{
 
    color: white;
    display:flex;
    margin-top: 0;
  }
 
.flex-container{
 
/* background-color: black; */
 
}
 
.test {
    /* margin: 100px; */
    /* background-color: blue; */
    display: flex;
    gap: 10px;

    width: 50%;
    margin: 0 auto;
}

